.restaurant-image {
  padding: "20px";
  /* height: "100%:";
display: "flex";
align-items: "center"; */
}
.image {
  width: "100%";
  height: 128;
  padding: "0px 10px";
}

.img {
  margin: "auto";
  padding: 20px;
  display: "block";
  max-width: 300px;
  max-height: 300px;
}
.restaurant-name {
  padding: "8px 0px ";
  font-size: "30px";
}

.restaurant-avg-cost-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.avgCost {
  padding-left: "5px";
}
.textRatingCost {
  text-overflow: "clip";
  width: "145px";
  color: rgb(134, 134, 134);
}
.restaurant-rating {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.restaurant-rating-cost-container {
  display: flex;
  align-items: center;
}
.restaurant-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textRatingCost {
  text-overflow: "clip";
  width: "145px";
  color: "grey";
}
.restaurant-avg-cost {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.restaurant-details-container {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: rgb(231, 231, 231);
}
@media screen and (min-width: 1000px) {
  .restaurant-avg-cost-container {
    margin-left: 350px;
  }
}
@media screen and (min-width: 600px) {
  .restaurant-details {
    margin-left: 75px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .restaurant-details-container {
    flex-direction: column;
  }
  .restaurant-details {
    text-align: center;
  }
  .restaurant-avg-cost-container {
    margin-left: auto;
  }
  .restaurant-rating {
    align-self: center;
  }
  .restaurant-avg-cost {
    place-content: center;
  }
}

.restaurantName {
  padding: "8px 0px 8px 0px";
  font-size: "30px";
}

.restaurantCategory {
  padding: "8px 0px 8px 0px";
}

@media screen and (max-width: 600px) {
  .menu-details-cart-container {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px;
  }
  .menu-details {
    width: 100%;
  }
  .my-cart {
    width: 100%;
    padding-top: 30px;
  }
}
@media screen and (min-width: 600px) {
  .menu-details {
    width: 45%;
  }

  .my-cart {
    width: 45%;
  }
}
